<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>$config.site_name</title>
        <meta name="keywords" content="P2P, 磁力下载,magnet下载,美剧,日剧,韩剧,电影,高清电影,游戏,DVDrip,720P,1080P" />
        <meta name="description" content="磁力下载  轻巧的资源下载站" />
        <link href="$config.static/styles/reset.css" rel="stylesheet" type="text/css" />
        <link href="$config.static/styles/index/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="$config.static/js/ajax.js" ></script>
    </head>
    <body>
        <div class="page">
            <div id="nav">
                <ul>
                    <li>
                        <a href="/help">帮助</a>
                    </li>
                    <li>
                        <a href="http://hi.baidu.com/simpletpb/home" target="blank">建议</a>
                    </li>
                </ul>
            </div>
            <div class="header box">
                <h1><span><a href="/">$config.site_name</a></span></h1>
                <h2><span>轻巧的资源聚合站点</span></h2>
            </div>
            <div class="search box">
                <form method="get" action="/search">
                    <span>全站搜索:</span>
                    <input type="text" name="searchname">
                    <select name="searchtype">
                        <option value="All">全部</option>
                        <option value="Audio">音频</option>
                        <option value="Video">视频</option>
                        <option value="Applications">软件</option>
                        <option value="Games">游戏</option>
                        <option value="Other">其它</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
            <div id="sharetools">
                <!-- JiaThis Button BEGIN -->
                <script type="text/javascript" src="http://v2.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
                <!-- JiaThis Button END -->
            </div>
            <div class="main box">
